.header {
    padding: 25px 0;
    border-bottom: 1px solid #ececec;
  }
  
  .header .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation .list {
    display: flex;
  }
  
  .menu-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .menu-item {
    position: relative;
  }
  
  .address {
    margin-left: auto;
  }
  
  .address .list {
    display: flex;
  }
  
  .address .list-item {
    display: flex;
    align-items: center;
  }
  
  .logo-dark {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 90px;
  }
  
  .logo-part {
    color: $accent-color;
  }
  
  .list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $main-title-color;
    font-style: normal;
    transition: color $main-transition $cubic;
  }
  
  .header-contacts {
    color: $main-descriprion-color;
  }
  
  .list-item:hover, .list-item:focus {
    color: $accent-color;
  }
  
  .menu-icon {
    fill: $main-descriprion-color;
    margin-right: 10px;
    max-height: 16px;
    max-width: 16px;
    transition: fill $main-transition $cubic;
  }
  
  .list-item:hover .menu-icon, .list-item:focus .menu-icon {
    fill: $accent-color;
  }
  
  .list-item:hover, .list-item:focus, .list-item:active, .current {
    color: $accent-color;
  }
  
  .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    transform: translateY(800%);
    background: $accent-color;
    border-radius: 2px;
  }